@import "tailwindcss";

@theme {
  --color-background: hsl(0, 0%, 97%);
  --color-foreground: hsl(220, 15%, 15%);

  --color-primary: hsl(210, 65%, 50%);
  --color-primary-hover: hsl(210, 65%, 40%);
  --color-primary-foreground: hsl(0, 0%, 100%);

  --color-secondary: hsl(160, 55%, 45%);
  --color-secondary-hover: hsl(160, 55%, 35%);
  --color-secondary-foreground: hsl(0, 0%, 100%);

  --color-tertiary: hsl(45, 85%, 55%);
  --color-tertiary-hover: hsl(45, 85%, 45%);
  --color-tertiary-foreground: hsl(220, 15%, 15%);

  --color-constructive: hsl(140, 55%, 45%);
  --color-constructive-hover: hsl(140, 55%, 40%);
  --color-constructive-foreground: hsl(0, 0%, 100%);

  --color-destructive: hsl(0, 70%, 50%);
  --color-destructive-hover: hsl(0, 70%, 40%);
  --color-destructive-foreground: hsl(0, 0%, 100%);

    --color-border: hsl(0, 0%, 80%);
  --color-border-hover: hsl(0, 0%, 70%);

  --color-muted: var(--color-gray-500);
  --color-muted-hover: var(--color-gray-700);
  --color-muted-foreground: var(--color-white);

  --color-dark: hsl(0, 0%, 9%);
  --font-base: "MyCustom", "Inter", "Roboto", sans-serif;
  --font-heading: "MyCustomBold", "Poppins", sans-serif;
}